[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "GMMAT"]
	path = GMMAT
	url = https://github.com/hanchenphd/gmmat
[submodule "MAGEE"]
	path = MAGEE
	url = https://github.com/cran/MAGEE
[submodule "mvtmeta"]
	path = mvtmeta
	url = https://github.com/cran/mvtmeta
